.calendar-container {
    max-width: 400px; /* Maximum calendar width */
    padding: 20px;
    font-family: 'Georgia', serif;
    border-radius: 10px;
    margin-top: -20px; /* Adjusted to start higher */
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #333;
  }
  
  .calendar-header button {
    background: none;
    border: none;
    cursor: pointer;
    color: #555;
    font-size: 16px;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 15px;
  }
  
  .calendar-day {
    font-family: 'Times New Roman', serif;
    text-align: center;
    padding: 10px 0;
    color: #615f5f;
  }
  
  .calendar-day.is-today {
    background-color: #f0f0f0;
    color: #CEC3C3;
    border-radius: 50%;
  }
  
  .calendar-day.not-current-month {
    color: #ccc;
  }
  
  .calendar-day.selected {
    background-color: #CEC3C3;
    color: white;
    border-radius: 50%; 
  }
  